body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.header {
  background-color: red;
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer {
  background-color: green;
  color: black;
  text-align: center;
  padding: 50px 0;
}

.contents {
  display: flex;
}

.content {
  width: 70%;
  background-color: tomato;
  text-align: center;
}

.sideBar {
  width: 30%;
  background-color: thistle;
  color: palevioletred;
  text-align: center;
}

.title {
  color: red;
}

.card-img {
  /* width: auto; */
  height: 500px;
}

.movie-description {
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 3;
  height: 75px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}